/* 页面加载效果 */

/* 覆盖两层页面 */
.loading {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1) 1s;
}

/* 上层页面 */
.up {
    background-color: white;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 300;
}

/* 下层页面 */
.down {
    background-color: yellowgreen;
    z-index: 99;
    transition-delay: 1.3s;
}

.loading-moveup {
    transform: translateY(-100%);
}